<% @posts.each do |post| %>

<div class="content_message"><p><span class="title"><%= post.name %>: <%= link_to post.title, post %></span><br />
  <%= post.content %>
</p>
     
      <%= link_to 'Edit', edit_post_path(post) %>

<% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
<% end %>
</div>      
<% end %>




