
<% @posts.each do |post| %>

<div class="content_message"><p><b><%= post.name %>: <i>'<%= post.title %>'</i></b><br />
  <%= post.content %>
</p>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>

<% if user_signed_in? && current_user.admin? %>
      <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
<% end %>
</div>      
<% end %>




<p><%= link_to 'New Post', new_post_path %></p>
