<!DOCTYPE html>
<html>
<head>
  <title>Automania</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">AUTOMANIA<span class="session_name"><% if user_signed_in? %>Logged in as <%= current_user.nickname %><% end %></span>
  </div> 
 <div id="content">
    <div id="sidebar">
    <ul>
      <div class="header">Account Actions</div>
    <% if user_signed_in? %>
      <li><%= link_to "Edit Profile",  edit_user_registration_path %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %> </li>
      <div class="header">Admin Actions</div>
      <li><%= link_to 'User List', users_index_path %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %></li>
    <% end %>
    <div class="header">Post Actions</div>
      <li><%= link_to 'Create New Post', new_post_path %></li>
    </ul>
  </div>
  <%= yield %>
</div>
</body>
</html>
